* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: inherit;

   color: inherit;
}

html,
body,
#app {
   height: 100%;
}

body {
   font-family: "Public Sans", sans-serif;
   color: #f8f9fa;
}

#app {
   position: relative;
   background-color: #303841;
   display: flex;
   flex-direction: column;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
   color: #e1e9f1;
   font-family: Public Sans, sans-serif;
   font-weight: 600;
}

.px {
   padding: 0 1rem;
}

a {
   text-decoration: none;
}
