@import "../../styles/_variables.scss";

.container {
   // position: absolute;
   // inset: 0;
   // bottom: $navHeight;
   flex: 1;

   width: 100%;

   z-index: 1;
}

.title-container {
   padding: 1.5rem;
   //    padding-bottom: 0;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title {
   font-size: 22.5px;
}

@media (min-width: $mobileBreakpoint) {
   .container {
      height: var(--view-height, 100vh);
      width: 380px;
      flex: 0;

      order: 2;
   }
}
