* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: inherit;
}

html,
body,
#app {
   height: 100%;
}

body {
   font-family: "Public Sans", sans-serif;
   color: #f8f9fa;
}

#app {
   position: relative;
   background-color: #303841;
}
